---
---

@import "{{ site.theme }}";

h1.post-title {
  font-family: serif;
  text-align: center;
}

.post-meta {
  font-family: serif;
  text-align: center;
}

blockquote{
  letter-spacing: 0px;
  font-style: normal; 
  font-family: serif;
}
